<!--
    首页的头部
-->

<div class="container" style="width:970px;"  ng-app="header" ng-controller="headerCtrl" >

    <div class="row" >
        <!--系统logo-->
        <div class="col-lg-7 text-center">
            <h1>在线理论学习系统</h1>
        </div>
        <!--搜索内容-->
        <div class="col-lg-5 " >
            <form role="form" style="margin-top:20px;">
                <div class="has-feedback form-group">
                    <div class="row">
                        <div class="col-md-10" style="padding-right:0;"> <input class="form-control" type="text" id="cure-info" placeholder="输入搜索内容"> <span class="help-block">中国</span></div>
                        <div class="col-md-2 text-left" style="padding-left: 0;"><input type="submit" class="btn btn-primary" value="搜索"></div>
                    </div>
                </div>
            </form>
        </div>

    </div>
    <!--导航条-->
    <div id="nav-bar" class="navbar">
        <ul class="nav nav-tabs ">
            <li><a href="indexs.html">首页</a></li>
            <li><a href="#/themeMarket">理论超市</a></li>
            <li><a href="#/themeClass">理论讲堂</a></li>
            <li><a href="#recommandPapers">荐书荐文</a></li>
            <li><a href="#/studyMonth">每月必学</a></li>
            <li><a href="#/writeExperience">心得体会</a></li>
            <li><a href="#/studyReport">述学报告</a></li>
            <li><a href="#/test">理论测试</a></li>
            <li><a>在线教育</a></li>
            <li><a>在线考评</a></li>
            <li><a>综合服务</a></li>

        </ul>
    </div>
</div>